<table>
  <tr>
    <th>Question</th>
    <th>Your Answer</th>
    <th>Correct Answer</th>
  </tr>
  <% @result.each do |learn| %>
    <tr>
      <td><%= get_question(learn.question_id) %></td>
      <td><%= your_answer(learn.answer_id) %></td>
      <td><%= correct_answer(learn.question_id) %></td>
    </tr>
  <% end %>
</table>
